<div class="jumbotron">
    <h1>Welcome to PAD (Proximal and Distal) clustering</h1>
    <p><h4>HOW TO USE:</h4></p>
    <p>
        1. Select the peaks from the database by clicking the green button.
        <br>
        2. Select the genes annotation to compare the peaks against to.
        <br>
        3. Choose your file to upload and compare against the database.
        <br>
        4. Select the cut-off value which will be the threshold to separate 'proximal' and 'distal'.
        <br>
        5. Click Submit.
    </p>
    <a href="{{ MEDIA_URL }}sample/Nfy.bsites" download="sample">Download sample BED file</a>
</div>