{% extends 'forms.html' %}
{% load crispy_forms_tags %}

{% block form_content %}
    <h3 class="page-header sidebar-form-name">Submission Form</h3>
    <div class="form-group">
        <button id="modalButton" type="button" class="btn btn-default btn-block btn-sm" data-toggle="modal" data-target="#peak_db_select">
            Select peaks from database
        </button>
    </div>
    {{ form | crispy }}
    <input id="submit-user-input" class='btn btn-primary btn-block' type="submit" value="Submit" />
{% endblock %}

{% block include_html %}
{% endblock %}