{% extends 'modal.html' %}
{% load staticfiles %}

{% block div_id_size %}
    <div class="modal fade" id="peak_db_select" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
{% endblock %}

{% block modal_title %}
    <h3 class="modal-title" id="myModalLabel">Select Peaks from database</h3>
{% endblock %}
{% block modal_body_main %}
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td><strong>Filter by number of peaks: </strong></td>
            <td>&nbsp;</td>
            <td>minimum: <input type="text" id="min" name="min" size="6"></td>
            <td>&nbsp;</td>
            <td>maximum: <input type="text" id="max" name="max" size="6"></td>
        </tr>
    </tbody>
    </table>

    <table id="table" class="table table-hover">
        <thead>
            <tr class="active" id="table-head">
                <th class="col-md-1 text-center">File ID</th>
                <th class="col-md-1 text-center">Protein</th>
                <th class="col-md-1 text-center">Number of Peaks</th>
                <th class="col-md-1 text-center">Cells</th>
                <th class="col-md-1 text-center">Labs</th>
                <th class="col-md-1 text-center">Year</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="active" id="table-foot">
                <th class="col-md-1 text-center">File ID</th>
                <th class="col-md-1 text-center">Protein</th>
                <th class="col-md-1 text-center">Number of peaks</th>
                <th class="col-md-1 text-center">Cells</th>
                <th class="col-md-1 text-center">Labs</th>
                <th class="col-md-1 text-center">Year</th>
            </tr>
        </tfoot>
        <tbody id=table-body>
            {% for peak in table %}
            <tr class="rows" id={{peak.fileID}}>
                <td class="col-md-1 text-center" value={{peak.fileID}}>{{peak.fileID}}</td>
                <td class="col-md-1 text-center" value={{peak.protein}}>{{peak.protein}}</td>
                <td class="col-md-1 text-center">{{peak.num_peaks}}</td>
                {% if peak.cells == None %}
                    <td class="col-md-1 text-center">NA</td>
                {% else %}
                    <td class="col-md-1 text-center">{{peak.cells}}</td>
                {% endif %}
                {% if peak.labs == None %}
                    <td class="col-md-1 text-center">NA</td>
                {% else %}
                    <td class="col-md-1 text-center">{{peak.labs}}</td>
                {% endif %}
                {% if peak.year == None %}
                    <td class="col-md-1 text-center">NA</td>
                {% else %}
                    <td class="col-md-1 text-center">{{peak.year}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" id="btnSave" class="btn btn-primary" data-dismiss="modal" onclick='saveRows()'>Save</button>
{% endblock %}

{% block modal_script %}
    <script type="text/javascript" src="{% static 'js/table.js' %}"></script>
{% endblock %}
